<div class="container text-center mt-5">
  <div class="jumbotron">
    <h1 class="display-4 fw-bold">Contact Us</h1>
    <p class="lead">
      We’d love to hear from you! Whether you have questions, feedback, or just
      want to say hello, feel free to get in touch.
    </p>
    <hr class="my-4" />
    <p class="fs-5">
      You can reach us through the following channels:
    </p>
    <div class="row">
      <div class="col-md-4">
        <h4>Email</h4>
        <p>noureldeanh&#64;gmail.com</p>
      </div>
      <div class="col-md-4">
        <h4>Phone</h4>
        <p>+201203299971</p>
      </div>
      <div class="col-md-4">
        <h4>Address</h4>
        <p>123 Main Street, Anytown, USA</p>
      </div>
    </div>
    <a
      class="btn btn-success btn-lg mt-4"
      href="mailto:noureldeanh@gmail.com"
      role="button"
      >Send Email</a
    >
  </div>
</div>
